body{
    margin-top: -15px;
    margin-right: 0px;
    margin-left: 0px;
}
nav h1{
    text-align: center;
    background: #f2f2f2;
    padding: 15px 0;
    font-size: 20px;
    color: #444;
    justify-content: flex-start;
}

main{
    align-items: center;
}

.container{
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content : center;
    gap: 25px;
    align-items: center;
    padding: 12px;
}

.box{
    width: 100px;
    height: 100px;
    border: 2px solid;
    border-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

form{
    margin-top:5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content : center;
    gap: 25px;
    align-items: center;
    padding: 12px;
}

form input {
    padding: 8px 25px;
    border: 2px solid #000;
}
form button{
    padding: 8px 25px;
    border: 2px solid #000;
    font-size: 15px;
}

@media (max-width: 600px) {
    .container {
        flex-wrap: wrap;      /* allows boxes to move to next line */
        justify-content: center;
        gap: 15px;
    }
}
